.nav__cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    padding: 0 350px 0 30px;
    top: 30px;
    width: 100%;
    height: 50px;
    background: linear-gradient(125deg, #ddd3d8 57.7%, purple 57.7%);
}

.cont__left{
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}
.logoSide{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoSide>p{
    font-size: 28px;
    font-weight: 800;
}

.seen{
    width: 30%;
    /* margin-left: 250px; */
}

.logo__cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: #5a5a5a;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 7px;
    color: #fff;
}
.logo__cont:hover{
    cursor: pointer;
    background-color: #383434;
}

/* styling for pokemon list */

.app__cont{
    width: 100%;
    height: 100vh;
    background: linear-gradient(115deg, #fff 78%, purple 48% 55%, rgb(196, 49, 196) 55%);
}

.pokemonlist__cont{
    width: 100%;
    height: 85vh;
    position: absolute;
    top: 80px;
    right: 30px;
    overflow-y: scroll;
}

/* styling for pokemon card */
.card__container{
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

::-webkit-scrollbar {
    width: 5px;
    background-color: purple !important;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(249, 241, 249) !important;
}

.right__side{
    display: flex;
    align-items: center;
    width: 27%;
    height: 50px;
    margin: 10px 0px;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 700;
}
.right__side:hover {
    background: linear-gradient(135deg, purple 40%, rgb(141, 119, 141) 40%);
    border-radius: 30px;
    cursor: pointer;
}
.right__side:hover > :nth-child(3){
    color: #fff;
}
.right__side:hover > :nth-child(4){
    filter: invert(1);
} 

.display{
    /* border: 2px solid green; */
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 470px;
    height: 75vh;
    left: 10%;
    bottom: 10%;
    z-index: 2;
}

.image__cont{
    /* border: 2px solid blue; */
    max-width: 200px;
    height: 30vh;
}
.image__cont img{
    /* filter: drop-shadow(2px 4px 12px black); */
    width: 100%;
    height: 100%;
    object-fit: fit;
}

.title{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin-left: -5%;
    padding: 0px 10px;
    width: 100%;
    height: 60px;
    border-radius: 5px;
    background: linear-gradient(135deg, purple 40%, rgb(141, 119, 141) 40%);
}

.img__cont{
    width: 45px;
    min-height: 60px;
    margin-right: 10px;
    /* border: 2px solid red; */
}

.information{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.info__stat{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 20px;
}
.para{
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    padding: 10px;
    border-bottom: 1px solid #5a5a5a;
}

/* styling for modal */
.modal__cont{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 1, 20, 0.792);
}

.inner__left{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.close{
    position: absolute;
    top: 50px;
    right: 300px;
    border-radius: 50%;
    padding: 10px 15px;
    background: black;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}
.inner__right{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 450px;
    height: 500px;
    margin-top: 50px;
    /* border: 2px solid red; */
}
.stat__wrapper{
    /* border: 2px solid blue; */
    background: #fff;
    padding: 20px;
    width: 100%;
    max-width: 700px;
    margin: auto;
}

.stats{
    margin: 20px 0;
    /* border: 2px solid black; */
}
.prog__bar{
    /* border: 2px solid blue; */
    margin: 15px 0 2px;
}
.stats p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #6B6B6B;
}
.inner__stat{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #161A33;
    margin-left: 10px;
}
.progress_cont{
    max-width: 600px;
    margin: auto;
    text-align: left;
    position: relative;
}

.feature__cont{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 10px auto;
}
.features p{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    color: #6B6B6B;
}
.features h3{
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #161A33;
}

.btn__cont{
    position: absolute;
    display: flex;
    padding: 5px;
    top: 300px;
    left: 260px;
}

.btn__btn{
    padding: 5px;
    width: 150px;
    height: 40px;
    color: #fff;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    /* line-height: 18px; */
    cursor: pointer;
    background: #3558CD;
    border: none;
    box-shadow: 0px 5px 22px 4px rgba(0, 0, 0, 0.06), 0px 12px 17px 2px rgba(0, 0, 0, 0.07), 0px 7px 8px -4px rgba(0, 0, 0, 0.1);
    border-radius: 36px;
}

.btnn{
    padding: 5px;
    width: 150px;
    height: 40px;
    color: #3558CD;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    /* line-height: 18px; */
    cursor: pointer;
    border: none;
    background: #D5DEFF;
    box-shadow: 0px 5px 22px 4px rgba(0, 0, 0, 0.06), 0px 12px 17px 2px rgba(0, 0, 0, 0.07), 0px 7px 8px -4px rgba(0, 0, 0, 0.1);
    border-radius: 36px;
}

/* styling for favourite */
.fav__cont{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card__wrapper{
    margin-top: 6rem;
    padding: 25px;
}
/* .card__cont{
    margin-right: 20px; 
    border: 2px solid black;
} */

.card__display{
    border: 5px solid purple;
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 47vh;
}

.imageCard__cont{
    max-width: 200px;
    height: 20vh;
}
.imageCard__cont img{
    filter: drop-shadow(2px 4px 12px black);
    width: 100%;
    height: 100%;
    object-fit: fit;
}

.card__title{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    padding: 0px 10px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: linear-gradient(135deg, purple 40%, rgb(141, 119, 141) 40%);
}

.card__information{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.cardInfo__stat{
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 20px;
}
